---
import ScreenshotWindow from "../ScreenshotWindow.astro";

---

<!-- Hero -->
<section class="hero py-7">
    <div class="container py-5">
        <div class="row align-items-center gy-5">
            <div class="col-lg-7">
                <h1 class="hero-title mb-3">
                    O.A.T.T.S.
                </h1>
                <p>
                    Official AFOQT & TBAS Test-familiarization Software
                </p>
                <p class="hero-lead mb-4">
                   OATTS is the <b>only official, U.S. Air Force endorsed</b> platform for AFOQT and TBAS familiarization. OATTS is free, lightweight, and fully open source. OATTS familiarizes students with core concepts using interactive lessons and periodic knowledge checks.
                </p>
                <div class="d-flex align-items-center gap-3">
                    <a class="btn btn-primary btn-xxl" href="#"
                        ><i class="bi me-2"></i>Coming Soon!</a
                    >
                </div>

            </div>

            <div
                class="col-lg-5 d-none d-lg-flex justify-content-lg-center justify-content-start"
            >
                <ScreenshotWindow
                    darkScreenshot='/Screenshot1-Dark.png'
                    lightScreenshot='/Screenshot1-Light.png'
                    tilt={4}
                ></ScreenshotWindow>
            </div>
        </div>
    </div>
</section>

<style>
    .hero {
        background: transparent;
    }

    .py-7 {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    .hero-title {
        font-size: clamp(2.2rem, 3.8vw + 1rem, 3.75rem);
        font-weight: 800;
    }

    .hero-lead {
        font-size: 1.125rem;
        color: #495057;
    }

    .btn-xl {
        padding: 1rem 2rem;
        font-size: 1.25rem;
        border-radius: 0.5rem;
    }

    .btn-xxl {
        padding: 1rem 5rem;
        font-size: 1.25rem;
        border-radius: 0.5rem;
    }

    :global([data-bs-theme="dark"]) .hero {
        background: transparent;
    }

    :global([data-bs-theme="dark"]) .hero-lead {
        color: #b8c1d1;
    }
</style>
