---
import Navbar from "../components/Navbar.astro";
import DotBackground from "../components/DotBackground.astro";
import Root from "../layouts/Root.astro";
import Footer from "../components/Footer.astro";
import DownloadCard from "../components/DownloadCard.astro";
import Downloaded from "../components/Downloaded.astro";
import DownloadRoot from "../layouts/DownloadRoot.astro";
import {navigate} from 'astro:transitions/client';
---

<DownloadRoot>

    <a id="invisibleRedirector" style="display: none;" href="/installed/windows"></a>
    <section style="height:100vh;">
        <DotBackground fadeInset={400}>
            <!-- BEFORE view -->
            <div id="before" class="transition-fade">
                <DownloadCard />
            </div>

          
            <style>
                .transition-fade {
                    transition: opacity 1.5s ease;
                }
                .is-fade-out {
                    opacity: 0 !important;
                    pointer-events: none;
                }
            </style>

            <script is:inline define:vars={{navigate}}>
                const before = document.getElementById("before");

                const sectionEl =
                    document.currentScript.closest("section") ||
                    document.querySelector("section");
                if (sectionEl) sectionEl.classList.add("transition-fade");

                (sectionEl || document).addEventListener("downloaded", (e) => {
                    const os = e.detail?.os || "windows";

                    if (sectionEl) sectionEl.classList.add("is-fade-out");

                    setTimeout(() => {
                        document.getElementById('invisibleRedirector')?.click();
                    }, 1500);
                    setTimeout(() => {
                        
                    }, 1600)
                });
            </script>
        </DotBackground>
    </section>
</DownloadRoot>
