---
const {
  spacing = 50,
  baseRadius = 5,
  driftSpeed = 20,
  jitterBound = 3,
  fadeInset = 40,
} = Astro.props as {
  spacing?: number;
  baseRadius?: number;
  driftSpeed?: number;
  jitterBound?: number;
  fadeInset?: number;
};
---

<style>
  .xdots {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .xdots__canvas {
    position: absolute;
    inset: 0;
    display: block;
    pointer-events: none;
  }

  .xdots__overlay {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
  }
  .xdots__overlay :where(*) {
    pointer-events: auto;
  }
</style>

<div class="xdots" id="xdots-root">
  <canvas class="xdots__canvas" id="xdots-canvas" aria-hidden="true"></canvas>
  <div class="xdots__overlay">
    <slot />
  </div>
</div>

<script
  define:vars={{ spacing, baseRadius, driftSpeed, jitterBound, fadeInset }}
>
const _0x478d24=_0x4baa;(function(_0x3459f3,_0x1c187b){const _0x487c32=_0x4baa,_0x5a51da=_0x3459f3();while(!![]){try{const _0x2e9b1e=parseInt(_0x487c32(0x19b))/0x1*(-parseInt(_0x487c32(0x1b6))/0x2)+-parseInt(_0x487c32(0x1aa))/0x3+parseInt(_0x487c32(0x1a0))/0x4*(parseInt(_0x487c32(0x1c8))/0x5)+-parseInt(_0x487c32(0x1c7))/0x6*(-parseInt(_0x487c32(0x1b3))/0x7)+parseInt(_0x487c32(0x19d))/0x8+parseInt(_0x487c32(0x1cf))/0x9*(parseInt(_0x487c32(0x1ae))/0xa)+-parseInt(_0x487c32(0x1b7))/0xb*(parseInt(_0x487c32(0x1cb))/0xc);if(_0x2e9b1e===_0x1c187b)break;else _0x5a51da['push'](_0x5a51da['shift']());}catch(_0x9d3972){_0x5a51da['push'](_0x5a51da['shift']());}}}(_0xa9bc,0x6cae4));const root=document[_0x478d24(0x196)](_0x478d24(0x1b1)),canvas=document[_0x478d24(0x196)](_0x478d24(0x1cc)),ctx=canvas[_0x478d24(0x1b5)]('2d'),DPR=Math['max'](0x1,Math[_0x478d24(0x199)](devicePixelRatio||0x1,0x2));let W=0x0,H=0x0,maskCanvas=null,maskCtx=null;function makeMask(){const _0x15212f=_0x478d24,_0x5c649d=Math[_0x15212f(0x199)](fadeInset,Math[_0x15212f(0x199)](W,H)/0x2),_0xe7ba1b=_0x5c649d/Math[_0x15212f(0x1bb)](0x1,W),_0x332dbe=_0x5c649d/Math['max'](0x1,H);maskCanvas=document[_0x15212f(0x1b2)](_0x15212f(0x19f)),maskCanvas[_0x15212f(0x1a5)]=Math[_0x15212f(0x1bb)](0x1,Math[_0x15212f(0x1ce)](W*DPR)),maskCanvas[_0x15212f(0x1be)]=Math[_0x15212f(0x1bb)](0x1,Math[_0x15212f(0x1ce)](H*DPR)),maskCtx=maskCanvas[_0x15212f(0x1b5)]('2d'),maskCtx[_0x15212f(0x1c9)](DPR,0x0,0x0,DPR,0x0,0x0),maskCtx[_0x15212f(0x1cd)](0x0,0x0,W,H),maskCtx[_0x15212f(0x1b8)]=_0x15212f(0x1c0),maskCtx[_0x15212f(0x1a9)](0x0,0x0,W,H);function _0x160d1c(_0x190d26){const _0x4a65ba=_0x15212f,_0x4f3d7e=_0x190d26?maskCtx[_0x4a65ba(0x1a6)](0x0,0x0,W,0x0):maskCtx[_0x4a65ba(0x1a6)](0x0,0x0,0x0,H),_0x4f7936=_0x190d26?_0xe7ba1b:_0x332dbe,_0x2dcf00=Math[_0x4a65ba(0x1bb)](0x0,_0x4f7936*0.45),_0x30ded2=Math['max'](0x0,_0x4f7936),_0x38c535=0x1-_0x30ded2,_0x3dc5e3=0x1-_0x2dcf00;_0x4f3d7e[_0x4a65ba(0x1c4)](0x0,_0x4a65ba(0x1bc)),_0x4f3d7e[_0x4a65ba(0x1c4)](_0x2dcf00,_0x4a65ba(0x19c)),_0x4f3d7e[_0x4a65ba(0x1c4)](_0x30ded2,_0x4a65ba(0x1af)),_0x4f3d7e['addColorStop'](_0x38c535,'rgba(0,0,0,1.0)'),_0x4f3d7e[_0x4a65ba(0x1c4)](_0x3dc5e3,_0x4a65ba(0x19c)),_0x4f3d7e[_0x4a65ba(0x1c4)](0x1,_0x4a65ba(0x1bc)),maskCtx[_0x4a65ba(0x1ca)]=_0x4a65ba(0x1c3),maskCtx[_0x4a65ba(0x1b8)]=_0x4f3d7e,maskCtx[_0x4a65ba(0x1a9)](0x0,0x0,W,H),maskCtx['globalCompositeOperation']='source-over';}_0x160d1c(!![]),_0x160d1c(![]);}function resize(){const _0x3ee8a7=_0x478d24,_0x58082f=root[_0x3ee8a7(0x1c2)]();W=Math[_0x3ee8a7(0x1bb)](0x1,Math[_0x3ee8a7(0x1ce)](_0x58082f[_0x3ee8a7(0x1a5)])),H=Math['max'](0x1,Math['floor'](_0x58082f[_0x3ee8a7(0x1be)])),canvas['style'][_0x3ee8a7(0x1a5)]=W+'px',canvas['style'][_0x3ee8a7(0x1be)]=H+'px',canvas[_0x3ee8a7(0x1a5)]=Math[_0x3ee8a7(0x1ce)](W*DPR),canvas[_0x3ee8a7(0x1be)]=Math[_0x3ee8a7(0x1ce)](H*DPR),ctx[_0x3ee8a7(0x1c9)](DPR,0x0,0x0,DPR,0x0,0x0),buildDots(),makeMask();}addEventListener(_0x478d24(0x1bf),resize,{'passive':!![]}),new ResizeObserver(resize)[_0x478d24(0x1a3)](root);const SPACING=spacing,RADIUS=baseRadius,DRIFT=driftSpeed,JITTER_BOUND=jitterBound,MARGIN=spacing,EXP_STRENGTH=0x9c4,EXP_FALLOFF=0.006;let dots=[],TOTAL_COLS=0x0,phasePx=0x0,last=performance[_0x478d24(0x1c6)](),tsec=0x0;const TAU=Math['PI']*0x2,sin=Math[_0x478d24(0x197)],hypot=Math[_0x478d24(0x1ac)],colX=_0x1a0ee9=>-MARGIN+_0x1a0ee9*SPACING+phasePx;function buildDots(){const _0x2b3c6d=_0x478d24;dots['length']=0x0;const _0x24004d=Math[_0x2b3c6d(0x1b9)]((W+0x2*MARGIN)/SPACING)+0x4,_0x543135=Math[_0x2b3c6d(0x1b9)]((H+0x2*MARGIN)/SPACING)+0x2;TOTAL_COLS=_0x24004d;const _0x22db80=-0x2,_0x948746=-0x1;for(let _0x52b137=_0x22db80;_0x52b137<_0x22db80+_0x24004d;_0x52b137++){for(let _0x50b091=_0x948746;_0x50b091<_0x948746+_0x543135;_0x50b091++){dots[_0x2b3c6d(0x1a4)]({'col':_0x52b137,'y0':-MARGIN+_0x50b091*SPACING,'a1':JITTER_BOUND*(0.45+Math[_0x2b3c6d(0x19a)]()*0.4),'a2':JITTER_BOUND*(0.15+Math[_0x2b3c6d(0x19a)]()*0.25),'f1':0.22+Math[_0x2b3c6d(0x19a)]()*0.08,'f2':0.35+Math[_0x2b3c6d(0x19a)]()*0.1,'p1':Math['random']()*TAU,'p2':Math['random']()*TAU,'x':0x0,'y':0x0,'vx':0x0,'vy':0x0,'exploded':![]});}}}function _0x4baa(_0x2e115b,_0x1a32b2){const _0xa9bca8=_0xa9bc();return _0x4baa=function(_0x4baa6e,_0xb08772){_0x4baa6e=_0x4baa6e-0x196;let _0x40c928=_0xa9bca8[_0x4baa6e];return _0x40c928;},_0x4baa(_0x2e115b,_0x1a32b2);}function _0xa9bc(){const _0x54b3cc=['5537928fibyqk','fill','canvas','24mBnaIR','querySelectorAll','exploded','observe','push','width','createLinearGradient','drawImage','splice','fillRect','2072385bxxuoc','addEventListener','hypot','rgba(190,210,255,0.95)','10YjgPNu','rgba(0,0,0,1.0)','top','xdots-root','createElement','119QPgwyg','col','getContext','1710lVlWoO','11sWZAMp','fillStyle','ceil','[data-explode]','max','rgba(0,0,0,0)','length','height','resize','rgba(0,0,0,1)','beginPath','getBoundingClientRect','destination-in','addColorStop','left','now','236010KIpbPV','219985KSFSsQ','setTransform','globalCompositeOperation','4431660ecvjMI','xdots-canvas','clearRect','floor','1547037IoFkhA','getElementById','sin','source-over','min','random','341HkQVhz','rgba(0,0,0,0.6)'];_0xa9bc=function(){return _0x54b3cc;};return _0xa9bc();}function impulseAt(_0x50f2fd,_0x121983){const _0x3ac15a=_0x478d24;for(const _0x1170e0 of dots){if(_0x1170e0[_0x3ac15a(0x1a2)])continue;const _0x8a35a9=_0x1170e0['a1']*sin(TAU*_0x1170e0['f1']*tsec+_0x1170e0['p1'])+_0x1170e0['a2']*sin(TAU*_0x1170e0['f2']*tsec+_0x1170e0['p2']),_0x1e940f=colX(_0x1170e0[_0x3ac15a(0x1b4)]),_0x50c79d=_0x1170e0['y0']+_0x8a35a9,_0x5ce325=_0x1e940f-_0x50f2fd,_0xeefb7e=_0x50c79d-_0x121983,_0x57d34b=hypot(_0x5ce325,_0xeefb7e)||0.000001,_0x13e1ea=EXP_STRENGTH/(0x1+_0x57d34b*EXP_FALLOFF)*(0.95+Math[_0x3ac15a(0x19a)]()*0.1);_0x1170e0['x']=_0x1e940f,_0x1170e0['y']=_0x50c79d,_0x1170e0['vx']=_0x5ce325/_0x57d34b*_0x13e1ea,_0x1170e0['vy']=_0xeefb7e/_0x57d34b*_0x13e1ea,_0x1170e0['exploded']=!![];}}function frame(_0x8ec3bd){const _0x2d4cfa=_0x478d24,_0x8b1606=Math[_0x2d4cfa(0x199)](0.033,(_0x8ec3bd-last)/0x3e8);last=_0x8ec3bd,tsec+=_0x8b1606,phasePx+=DRIFT*_0x8b1606,ctx[_0x2d4cfa(0x1cd)](0x0,0x0,W,H);const _0x414934=W+MARGIN+SPACING;for(let _0x11be52=dots[_0x2d4cfa(0x1bd)]-0x1;_0x11be52>=0x0;_0x11be52--){const _0x51f188=dots[_0x11be52];if(!_0x51f188[_0x2d4cfa(0x1a2)]){const _0x3f5ff9=_0x51f188['a1']*sin(TAU*_0x51f188['f1']*tsec+_0x51f188['p1'])+_0x51f188['a2']*sin(TAU*_0x51f188['f2']*tsec+_0x51f188['p2']);_0x51f188['x']=colX(_0x51f188[_0x2d4cfa(0x1b4)]),_0x51f188['y']=_0x51f188['y0']+_0x3f5ff9;if(_0x51f188['x']>_0x414934){_0x51f188[_0x2d4cfa(0x1b4)]-=TOTAL_COLS,_0x51f188['x']=colX(_0x51f188[_0x2d4cfa(0x1b4)]);while(_0x51f188['x']>_0x414934){_0x51f188[_0x2d4cfa(0x1b4)]-=TOTAL_COLS,_0x51f188['x']=colX(_0x51f188['col']);}}}else{_0x51f188['x']+=_0x51f188['vx']*_0x8b1606,_0x51f188['y']+=_0x51f188['vy']*_0x8b1606;if(_0x51f188['x']<-MARGIN*0x3||_0x51f188['x']>W+MARGIN*0x3||_0x51f188['y']<-MARGIN*0x3||_0x51f188['y']>H+MARGIN*0x3){dots[_0x2d4cfa(0x1a8)](_0x11be52,0x1);continue;}}}ctx[_0x2d4cfa(0x1c1)]();for(const _0x49bbb3 of dots){ctx['moveTo'](_0x49bbb3['x']+RADIUS,_0x49bbb3['y']),ctx['arc'](_0x49bbb3['x'],_0x49bbb3['y'],RADIUS,0x0,TAU);}ctx[_0x2d4cfa(0x1b8)]=_0x2d4cfa(0x1ad),ctx[_0x2d4cfa(0x19e)](),maskCanvas&&(ctx['globalCompositeOperation']='destination-in',ctx[_0x2d4cfa(0x1a7)](maskCanvas,0x0,0x0,maskCanvas[_0x2d4cfa(0x1a5)]/DPR,maskCanvas[_0x2d4cfa(0x1be)]/DPR),ctx[_0x2d4cfa(0x1ca)]=_0x2d4cfa(0x198)),requestAnimationFrame(frame);}function wireExploders(){const _0x53a51c=_0x478d24,_0x58508a=root[_0x53a51c(0x1a1)](_0x53a51c(0x1ba)),_0x333bdc=_0x10cf16=>{const _0xab3913=_0x53a51c,_0xf1cd62=_0x10cf16[_0xab3913(0x1c2)](),_0xe56837=root[_0xab3913(0x1c2)]();return{'x':_0xf1cd62[_0xab3913(0x1c5)]-_0xe56837['left']+_0xf1cd62[_0xab3913(0x1a5)]/0x2,'y':_0xf1cd62[_0xab3913(0x1b0)]-_0xe56837[_0xab3913(0x1b0)]+_0xf1cd62[_0xab3913(0x1be)]/0x2};};_0x58508a['forEach'](_0x4d746c=>{const _0x454b34=_0x53a51c;_0x4d746c[_0x454b34(0x1ab)]('click',()=>{const {x:_0x3fd207,y:_0x404fcb}=_0x333bdc(_0x4d746c);impulseAt(_0x3fd207,_0x404fcb);});});}resize(),wireExploders(),requestAnimationFrame(frame);
</script>
