---
const year = new Date().getFullYear();
---

<footer class="py-5 text-center text-muted small">
    <div class="container">© {year} U.S. Air Force & DCS Corp.</div>
    <div class="container">
        Distribution Statement A: Approved For Public Release. AFRL, 2025-4499,
        Cleared 08 Sep 2025
    </div>
</footer>
