---
let { children } = Astro.props;
---

<span class="pill fw-semibold">
    {children}
</span>

<style>
    .pill {
        border-radius: 999px;
        padding: 0.25rem 0.75rem;
        font-size: 0.9rem;
        background-color: var(--bs-tertiary-bg);
        color: var(--bs-body-color);
        border: 1px solid var(--bs-border-color);
    }
</style>
